# https://registry.terraform.io/providers/hashicorp/google/latest/docs/resources/compute_instance#example-usage

provider "google" {
  credentials = file("./config/service-account-credential.json")
  project     = var.project
  region      = var.region
}
